---
layout: default
---
<img class='chimney' src='./images/chimney.jpg'/>
<div class='background'>
    <div class='landing-div'>
        <div class='landing-content'>
            <h1 id='title'>מצב חירום עכשיו</h1>
            <div class='landing-button-div'>
                <button >להצטרפות</button>
                <button >לתרומה</button>
            </div>
        </div>
    </div>
</div>
<div class='registration-form'>
    <h2>הצטרפות</h2>
    <label for='name' >שם</label>
    <input name='name' placeholder='שם' />
    <label for='mail' >מייל</label>
    <input name='mail' placeholder='מייל' />
    <label for='address' >כתובת</label>
    <input name='address' placeholder='כתובת' />
    <button>שליחת פרטים</button>
</div>
<iframe id='map' src="https://www.google.com/maps/d/embed?mid=12Z6M2Cry5ls2Wuy6rvgGQAu197V0wx-w" width="640" height="480"></iframe>

{{ content }}
