---
layout: home
template_engine: erb
---


<section class='hero' id='hero' >
    <div class='hero-content'>
        <h1 class='hero-title'>מצב חירום<br />עכשיו</h1>
        <div class='hero-buttons'>
            <a href='https://airtable.com/shrBQeUrr5LL4OUVE' target="_blank"><button class='join-button big-button' >להצטרפות</button></a>
            <button class='donate-button big-button'>לתרומה</button>
        </div>
    </div>
</section>


<section class='section section--demands' id='demands'>
        <h2 class='section__title'>
            אנו דורשים הכרזה
            על מצב חירום
            אקלימי אקולוגי
            עד פברואר 2022
        </h2>
        <p class='section__text'>אנו ניצבים בפני התקופה הסוערת ביותר בהיסטוריה האנושית וכולנו יחד באותה הסירה.
		עומדים בפנינו אתגרים אותם רק התחלנו לחוות בישראל, אך כבר באים לידי ביטוי ביתר שאת בשאר העולם.
		להחלטותינו יש את הכוח להבטיח חיים בכבוד לנו ולדורות הבאים.

</section>
<section class='section section--about-crisis' id='about-crisis'>
        <h2 class='section__title'>על המשבר</h2>
        <div class='section__grid section__grid--reverse'>
            <img class='section__image' src='./images/burning-rainforest.webp'/>
            <p class='section__text section__text--normal'><a href="https://drive.google.com/file/d/1SgEeAqMY0g9Jv9cpHpxqfDS77kj09RbA/edit" target="_blank">שינויי אקלים מואצים</a> אנו בעידן של
			הגוררים אירועי מזג אוויר ההולכים ומקצינים.
            לעת עתה האנושות מצליחה להתמודד עם האסונות,
			אך מערכות אקולוגיות שלמות כבר נמצאות בתהליכי קריסה.
			קריסה סביבתית וכאוס אקלימי מאיימים על סדרי חיינו.
			נדרשות פעולות מיידיות לצורך התמודד עם משבר קיומי זה.
			יחד נוכל להתעורר למציאות זו בנחישות, בחמלה, ומתוך תקווה לעתיד.
            <a href="https://tinyurl.com/climatelecturesinheb" target="_blank">למדו עוד</a>
            </p>
        </div>
            <h3 class='section__title section__title--small'>קריאה לפעולה</h3>
        <div class='section__grid'>
            <img class='section__image' src='./images/protest.webp'/>
            <p class='section__text section__text--normal'>על כן, אנו דורשים שהממשלה תתייחס במלוא הרצינות והאחריות
			לנושאי הסביבה, ותעביר חוק מקיף, שאפתני, 
			המותאם למגבלות כושר הנשיאה של כדור הארץ,
			ושיכלול שינויים רחבים בכל תחומי החיים בהתאם.  
			החוק יצא לפועל כבר במהלך שנת 2022, 
			ויכלול הכרה באיום ובמצב החירום האקלימי-אקולוגי בו אנו נמצאים. </p>
        </div>
</section>
<section class='section section--about-us' id="about-us">
        <h2 class='section__title'>מי אנחנו</h2>
        <div class='section__grid section__grid--reverse'>
            <img class='section__image' src='./images/about-us.webp'/>
            <p class='section__text section__text--normal'>המטה מאחד את אזרחי המדינה ועשרות ארגונים
			תחת ההבנה שלא ניתן להיאבק בכל בעיה בפני עצמה,
			תוך הזנחה של התמונה הגדולה.
			</div>
		<div class='section__grid'>
			<p class='section__text section__text--normal'>אנחנו קבוצה גדולה של מתנדבים, אזרחים כמוני וכמוך,
			שרק רוצים מקום טוב לחיות ולגדול בו.
			במעט מאד זמן, הספקנו ליצור שינוי
			ביחס ובשיח הציבורי והממשלתי למשבר האקלימי-אקולוגי.
			חברי המטה נפגשים עם חברי כנסת ומשפיענים, מופיעים בתקשורת, 
			מארגנים ומשתתפים במחאות ופעולות בכל הארץ, 
			מחדדים מסרים של אירועי סביבה גדולים, 
			יוצרים קשרים בין ארגונים ותנועות -
			בעזרת חיבורים אנושיים משמעותיים.
			</div>
			
		<div class='section__grid'>
			<p class='section__text section__text--normal'>אנו דורשים פעולה בלתי מתפשרת לרווחת כלל תושבי המדינה,
			בכל מגזרי החיים, תוך צמצום מקסימלי של פגיעה 
			בביטחון, בחוסר השוויון הכלכלי ובבריאות.
			אנו דורשים בנייה ויישום מלא של חוק רחב ומקיף,
			הכולל הכרה רשמית במצב החירום,
			ולראות בו כהזדמנות ליצירת שינוי מהותי 
			ושיפור כל תחומי החיים.
			יש לראות במשבר האקלימי-אקולוגי, על כל אתגריו, 
			כהזדמנות לתיקון עוולות רבות המחמירות מדי יום,
			למען החיים של כולנו.</p>
        </div>
</section>
<section class='section section--partners' id="partners">
        <h2 class='section__title'>שותפים</h2>
        <div class="section--partners__content" data-partner-size="<%= site.data.partners.size %>">
            <% index = 1 %>
            <% site.data.partners.each do |partner_group| %>
            <div class="partner-group">
                <% partner_group.first[1].each do |something| %>
                <div class="partner-icon" style="background-image: url(./images/partner-icons/<%= something.first[1] %>);" data-index=<%= index %>></div>
                <% index += 1 %>
                <% end %>
            </div>
            <% end %>
        </div>
</section>


