---
layout: home
template_engine: erb
---


<section class='hero' >
    <div class='hero-content'>
        <h1 class='hero-title'>מצב חירום<br />עכשיו</h1>
        <div class='hero-buttons'>
            <a href='#registration-form'><button class='join-button big-button' data-action='click->home#openForm'>להצטרפות</button></a>
            <button class='donate-button big-button'>לתרומה</button>
        </div>
    </div>
</section>


<div id='registration-form' data-home-target='form'>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="close-button" data-action="click->home#closeForm" viewBox="0 0 16 16">
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
    </svg>
    <h2>הצטרפות</h2>
    <label for='name' >שם</label>
    <input name='name' />
    <label for='mail' >מייל</label>
    <input name='mail' />
    <label for='address' >כתובת</label>
    <input name='address' />
    <button>שליחת פרטים</button>
</div>


<section class='section section--demands'>
        <h2 class='section__title'>
            אנו דורשים הכרזה <br>
            על מצב חירום <br>
            אקלימי אקולוגי<br>
            עד פברואר 2022
        </h2>
        <p class='section__text'>
        אנו ניצבים בפני התקופה הסוערת ביותר בהיסטוריה האנושית וכולנו יחד באותה הסירה.<br />
		עומדים בפנינו אתגרים אותם רק התחלנו לחוות בישראל, אך כבר באים לידי ביטוי ביתר שאת בשאר העולם.<br />
		להחלטותינו יש את הכוח להבטיח חיים בכבוד לנו ולדורות הבאים.<br />
    <!-- <a href='#registration-form'><button class='join-button big-button'  data-action='click->home#openForm'>להצטרפות</button></a> -->

</section>
<section class='section section--about-crisis'>
        <h2 class='section__title'>על המשבר</h2>
        <div class='section__grid'>
            <img class='section__image' src='./images/protest_pic_1.jpeg'/>
            <h3 class='section__title section__title--small'>על המשבר</h3>
            <p class='section__text section__text--normal'>
			אנו בעידן של שינויי אקלים מואצים  <br />
			.הגוררים אירועי מזג אוויר ההולכים ומקצינים <br />
            ,לעת עתה האנושות מצליחה להתמודד עם האסונות <br />
			.אך מערכות אקולוגיות שלמות כבר נמצאות בתהליכי קריסה<br />
			קריסה סביבתית וכאוס אקלימי מאיימים על סדרי חיינו <br />
			נדרשות פעולות מיידיות לצורך התמודד עם משבר קיומי זה <br />
			יחד נוכל להתעורר למציאות זו בנחישות, בחמלה, ומתוך תקווה לעתיד </p>
            <%# <a href='#registration-form'><button class='join-button big-button'  data-action='click->home#openForm'>להצטרפות</button></a> %>
        </div>
        <div class='section__grid'>
            <img class='section__image' src='./images/protest_pic_1.jpeg'/>
            <h3 class='section__title section__title--small'>על המשבר</h3>
            <p class='section__text section__text--normal'>
			,על כן, אנו קוראים להכרזה על מצב חירום אקלימי-אקולוגי <br />
			,ליצירת מנגנונים עם היכולת והסמכות להתמודד עמו באופן מקיף <br />
            .ולתהליך שינוי תפיסתי נרחב בנושא בקרב מקבלי ההחלטות והציבור <br />
			הצטרפו אלינו ולשותפינו בתנועות הסביבתיות במאבק זה </p>
            <%# <a href='#registration-form'><button class='join-button big-button'  data-action='click->home#openForm'>להצטרפות</button></a> %>
        </div>
    </div>
    <div id='partners'>
        <div id='partners-content'>
            <h2>שותפים</h2>
            <div id='partner-icons' data-partner-size="<%= site.data.partners.size %>">
              <% index = 1 %>
              <% site.data.partners.each do |partner_group| %>
                <div class="partner-group">
                  <% partner_group.first[1].each do |something| %>
                    <img class='partner-icon' src='./images/partner-icons/<%= something.first[1] %>' data-index=<%= index %> />
                    <% index += 1 %>
                  <% end %>
                </div>
              <% end %>
            </div>
        </div>
    </div>
</div>

<!-- <div id='demonstrations'>
 <iframe id='map' src="https://www.google.com/maps/d/embed?mid=12Z6M2Cry5ls2Wuy6rvgGQAu197V0wx-w" width="640" height="480"></iframe>
</div> -->
