---
layout: home
template_engine: erb
---


<section class='hero' id='hero' >
    <div class='hero-content'>
        <h1 class='hero-title'>מצב חירום<br />עכשיו</h1>
        <div class='hero-buttons'>
            <a href='https://airtable.com/shrBQeUrr5LL4OUVE' target="_blank"><button class='join-button big-button' >להצטרפות</button></a>
            <button class='donate-button big-button'>לתרומה</button>
        </div>
    </div>
</section>


<section class='section section--demands' id='demands'>
        <h2 class='section__title'>
            אנו דורשים הכרזה
            על מצב חירום
            אקלימי אקולוגי
            עד פברואר 2022
        </h2>
        <p class='section__text'>אנו ניצבים בפני התקופה הסוערת ביותר בהיסטוריה האנושית וכולנו יחד באותה הסירה.
		עומדים בפנינו אתגרים אותם רק התחלנו לחוות בישראל, אך כבר באים לידי ביטוי ביתר שאת בשאר העולם.
		להחלטותינו יש את הכוח להבטיח חיים בכבוד לנו ולדורות הבאים.

</section>
<section class='section section--about-crisis' id='about-crisis'>
        <h2 class='section__title'>על המשבר</h2>
        <div class='section__grid section__grid--reverse'>
            <img class='section__image' src='./images/burning-rainforest.webp'/>
            <p class='section__text section__text--normal'>אנו בעידן של שינויי אקלים מואצים  
			הגוררים אירועי מזג אוויר ההולכים ומקצינים.
            לעת עתה האנושות מצליחה להתמודד עם האסונות,
			אך מערכות אקולוגיות שלמות כבר נמצאות בתהליכי קריסה.
			קריסה סביבתית וכאוס אקלימי מאיימים על סדרי חיינו.
			נדרשות פעולות מיידיות לצורך התמודד עם משבר קיומי זה.
			יחד נוכל להתעורר למציאות זו בנחישות, בחמלה, ומתוך תקווה לעתיד.
            <a href="https://tinyurl.com/climatelecturesinheb" target="_blank">למדו עוד</a>
            </p>
        </div>
            <h3 class='section__title section__title--small'>קריאה לפעולה</h3>
        <div class='section__grid'>
            <img class='section__image' src='./images/protest.webp'/>
            <p class='section__text section__text--normal'>על כן, אנו קוראים להכרזה על מצב חירום אקלימי-אקולוגי,
			ליצירת מנגנונים עם היכולת והסמכות להתמודד עמו באופן מקיף,
            ולתהליך שינוי תפיסתי נרחב בנושא בקרב מקבלי ההחלטות והציבור.
			הצטרפו אלינו ולשותפינו בתנועות הסביבתיות במאבק זה </p>
        </div>
</section>
<section class='section section--partners' id="partners">
        <h2 class='section__title'>שותפים</h2>
        <div class="section--partners__content" data-partner-size="<%= site.data.partners.size %>">
            <% index = 1 %>
            <% site.data.partners.each do |partner_group| %>
            <div class="partner-group">
                <% partner_group.first[1].each do |something| %>
                <div class="partner-icon" style="background-image: url(./images/partner-icons/<%= something.first[1] %>);" data-index=<%= index %>></div>
                <% index += 1 %>
                <% end %>
            </div>
            <% end %>
        </div>
</section>

<section class='section section--map' id="map">
    <h2 class='section__title'>הפגנות</h2>
    <iframe id='map' src="https://www.google.com/maps/d/embed?mid=12Z6M2Cry5ls2Wuy6rvgGQAu197V0wx-w" width="640" height="480"></iframe>
</section>


