.hero {
	display: flex;
	flex-direction: column;
	isolation: isolate;
	align-items: flex-start;
	background-image: url("../../src/images/chimney.jpg");
	background-size: cover;
	background-position: 60%;
	// object-fit: cover;
	height: calc(100vh - 64px);
	width: 100vw;
	background-blend-mode: overlay;
	background-color: #2e896a;
	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
		padding-inline-start: 1rem;
		height: 100%;
	}
	&-title {
		color: var(--secondaryColor);
		font-size: 8rem;
		line-height: 0.6;
	}
	&-buttons {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		gap: 1rem;
		// margin-top: 4rem;
		// align-self: flex-end;
	}
}

#registration-form {
	position: absolute;
	bottom: 0;
	left: 15%;
	display: flex;
	text-align: right;
	flex-direction: column;
	align-items: flex-end;
	width: var(--formWidth);
	padding: 2rem;
	border-radius: var(--borderRadius);
	background-color: var(--mainColor);
	color: var(--secondaryColor);
	input,
	button {
		width: 100%;
	}
	input {
		margin-bottom: 1rem;
		line-height: 1.5rem;
		text-align: center;
		&::placeholder {
			text-align: right;
		}
	}
	.close-button {
		display: none;
		transition: all 0.1s ease;
		cursor: pointer;
		height: 20px;
		width: 20px;
	}
}
#demands,
#demonstrations,
#about-crisis,
#partners {
	height: calc(100vh - 64px);
	display: flex;
	flex-direction: column;
	text-align: right;
}

#demands {
	align-items: flex-end;
	justify-content: center;
	#demands-content {
		text-align: right;
		margin-right: 10%;
		h2 {
			font-size: 3rem;
			margin-bottom: 4rem;
		}
		p {
			font-size: 2rem;
		}
	}
}
#demonstrations {
	background-color: turquoise;
	justify-content: center;
	align-items: center;
}

#about-crisis {
	align-items: center;
	height: 200vh;
	background-image: url("../../src/images/about-crisis-background.png");
	h2 {
		margin-top: 8rem;
	}
	#about-crisis-content {
		height: 100%;
		width: 70%;
	}
	#about-crisis-content > div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 10rem;
		.about-crisis-image {
			width: 30rem;
			height: 22rem;
			margin-right: 2rem;
		}
		&:nth-child(2n) {
			div {
				margin-right: 2rem;
			}
			.about-crisis-image {
				margin-right: unset;
			}
		}
	}
}
#partners {
	h2 {
		margin-top: 8rem;
		margin-right: 4rem;
	}
	#partner-icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 1rem 4rem;
		.partner-icon {
			max-height: 5rem;
			max-width: 10rem;
		}
	}
}

  #about-crisis{
    align-items: center;
    height: 200vh;
    background-image: url('../../src/images/about-crisis-background.png');
    h2{
      margin-top: 8rem;
    }
    #about-crisis-content{
      height: 100%;
      width: 70%;
    }
    #about-crisis-content > div{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 10rem;
      .about-crisis-image{
        width: 30rem;
        height: 22rem;
        margin-right: 2rem;
      }
      &:nth-child(2n){
        div{
        margin-right: 2rem;
       }
       .about-crisis-image{
         margin-right: unset;
       }
      }
    }
  }
  #partners{
    h2{
      margin-top: 8rem;
      margin-right: 4rem;
    }
    #partner-icons{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 80vw;
      margin-inline: auto;
      gap: 1rem;
      .partner-icon{
        width: 40%;
        height: 50%;
        transition: 0.4s opacity;
        opacity: 0;
        &.fade {
          opacity: 1;
        }
      }
    }
  }

@media screen and (max-width: 600px) {
	// .chimney{
	//   overflow: hidden;
	// transform: unset;
	// margin-left: -100%;
	// min-width: unset;
	//   // clip-path: inset(0 24.5% 0 0);
	// }

	#registration-form {
		display: none;
		position: fixed;

		// height: 50vh;
		top: 25vh;
		// right: calc(100vw - var(--formWidth) / 2);
		right: calc(((100vw - var(--formWidth) / 2) + 10vw));

		bottom: unset;
		.close-button {
			display: unset !important;
		}
	}
	h1,
	#title {
		font-size: 6rem;
	}
	#title {
		padding-right: 1rem;
		width: 100vw;
	}
	h2 {
		font-size: 2rem !important;
	}
	p {
		font-size: 1.5rem !important;
	}
	.big-button {
		width: 12rem !important;
	}
	.background {
		height: 100vh;
		margin-top: -4rem;
		padding-top: 4rem;
		background-position-y: 50%;
		background-position-x: 60%;
		transform: rotateY(0deg);
	}
	.landing-div {
		transform: rotateY(0deg);
		// position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		right: unset;
		text-align: right;

		.landing-content {
			margin-top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
	}
	.landing-button-div {
		margin-right: 1rem;
		margin-top: unset;
		margin-bottom: 45%;
		button {
			margin-top: 1rem;
		}
	}
	#about-crisis {
		height: 400vw;
		width: 100vw;
	}
	#about-crisis-content {
		width: 100vw !important;
		& > div {
			& > div {
				margin-bottom: 2rem !important;
			}
			margin-top: 3rem !important;
			&:nth-child(2n + 1) {
				flex-direction: column-reverse;
			}
			.about-crisis-image {
				max-width: 80vw;
				height: 50vw !important;
				margin: 0 auto !important;
			}
		}
	}
	#map {
		width: 80%;
		// height: auto;
	}
}
