@import url("https://almoni.netlify.app/index.css");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");
@import "resets.scss";
@import "variables.scss";
@import "mixins.scss";
@import "nav.scss";

* {
	box-sizing: border-box;
}
body {
	background: var(--body-background);
	color: var(--body-color);
	font-family: "Almoni", serif;
	overflow-x: hidden;

	@include desktop {
	}
}

button {
	cursor: pointer;
	// margin-top: 2rem;
	background-color: var(--secondaryColor);
	border-radius: var(--borderRadius);
	line-height: 1.5rem;
	border: 2px solid var(--secondaryColor);
	outline: none;
}
.big-button {
	width: 45vw;
	line-height: 3rem;
	font-size: 2rem;
	// margin-bottom: 0.5rem;
	border-radius: var(--borderRadius);
	color: var(--secondaryColor);
	transition: background 200ms, border 200ms;
	@include desktop {
		width: 20vw;
	}
}
.join-button {
	background-color: var(--mainColor);
	border: 3px solid var(--mainColor);

	&:hover {
		background-color: var(--midRed);
		border: 3px solid var(--midRed);
	}
}
.donate-button {
	background-color: transparent;
	border: 3px solid var(--secondaryColor);
	&:hover {
		background-color: var(--midRed);
		border-color: var(--midRed);
		// font-size: 2.5rem;
		// border-color: var(--midRed);
	}
}

.hidden {
	display: none;
}

.hero {
	padding-inline: var(--padding);
	display: flex;
	flex-direction: column;
	isolation: isolate;
	align-items: flex-start;
	position: relative;
	&::before {
		content: "";
		background-image: url("../../src/images/chimney.jpg");
		background-size: cover;
		background-position: 60%;
		background-color: #2e896a;
		background-blend-mode: overlay;
		backdrop-filter: blur(4px);
		inset: 0;
		z-index: -1;
		position: absolute;
		@include desktop {
			transform: scaleX(-1);
		}
	}
	// object-fit: cover;
	height: calc(100vh);
	width: 100vw;
	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
		padding-inline-start: 1rem;
		height: 100%;
	}
	&-title {
		color: var(--secondaryColor);
		font-size: 8rem;
		line-height: 0.6;
	}
	&-buttons {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		gap: 1rem;
		// margin-top: 4rem;
		// align-self: flex-end;
	}
}

.form {
	position: absolute;
	bottom: 0;
	left: 15%;
	display: flex;
	text-align: right;
	flex-direction: column;
	align-items: flex-end;
	width: var(--formWidth);
	padding: 2rem;
	border-radius: var(--borderRadius);
	background-color: var(--mainColor);
	color: var(--secondaryColor);
	display: none;
	@include desktop {
		display: block;
	}
	input,
	button {
		width: 100%;
	}
	input {
		margin-bottom: 1rem;
		line-height: 1.5rem;
		text-align: center;
		&::placeholder {
			text-align: right;
		}
	}
	.close-button {
		display: none;
		transition: all 0.1s ease;
		cursor: pointer;
		height: 20px;
		width: 20px;
	}
}

.section {
	padding: 10vh 1rem;
	padding-inline: var(--padding);
	width: 100%;
	&__title {
		font-size: 2.4rem;
		line-height: 0.9;
		margin-bottom: 4rem;
		white-space: pre-line;
		&--small {
			font-size: 2rem;
			margin-block: 1.5rem;
		}
		@include desktop {
			// white-space: normal;
			font-size: 4rem;
		}
	}
	&__text {
		font-size: 1.5rem;
		font-family: "Alef", sans-serif;
		font-weight: bold;
		line-height: 1.3;
		white-space: pre-line;
		&--normal {
			font-weight: normal;
		}
		@include desktop {
			font-weight: normal;
		}
	}
	&__grid {
		@include desktop {
			display: flex;
			gap: 1rem;
		}
		&--reverse {
			flex-direction: row-reverse;
		}
		& > img {
			@include desktop {
				width: 70%;
			}
		}
		& > .section__text {
			// margin-inline-start: 1rem;
		}
	}
	&__grid:not(:last-of-type) {
		margin-bottom: 2rem;
	}

	&--about-crisis {
		background-image: url("../../src/images/about-crisis.png");
		background-color: var(--accent-color);
	}
	&--partners {
		&__content {
			display: grid;
			grid-template-areas: "g";
			.partner-group {
				grid-area: g;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				// width: 80vw;
				margin-inline: auto;
				gap: 1rem;
				@include desktop {
					width: 100%;
					justify-content: space-between;
				}
				.partner-icon {
					width: 100px;
					height: 100px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					background-color: var(--body-background);
					background-blend-mode: luminosity;
					transition: background-color 300ms, 500ms opacity;
					&:hover {
						background-color: transparent;
					}
					opacity: 0;
					z-index: 9;
					&.fade {
						opacity: 1;
						z-index: 10;
					}
				}
			}
		}
	}

	&--map {
		justify-content: center;
		align-items: center;
		background-color: var(--accent-color);
		iframe {
			max-width: 100%;
			@include desktop {
				width: 100%;
				height: 70vh;
			}
		}
	}
}
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--body-color);
	padding-block: 1rem;
}
