@import url("https://almoni.netlify.app/index.css");
@import "resets.scss";
@import "variables.scss";
@import "mixins.scss";
@import "home.scss";
@import "nav.scss";

* {
	box-sizing: border-box;
}
body {
	background: var(--body-background);
	color: var(--body-color);
	font-family: "Almoni", serif;
	overflow-x: hidden;

	@include desktop {
	}
}

button {
	cursor: pointer;
	// margin-top: 2rem;
	background-color: var(--secondaryColor);
	border-radius: var(--borderRadius);
	line-height: 1.5rem;
	border: 2px solid var(--secondaryColor);
	outline: none;
}
.big-button {
	width: 20rem;
	line-height: 3rem;
	font-size: 2rem;
	// margin-bottom: 0.5rem;
	border-radius: var(--borderRadius);
	color: var(--secondaryColor);
	transition: all 0.2s ease;
}
.join-button {
	background-color: var(--mainColor);
	border: 3px solid var(--mainColor);

	&:hover {
		background-color: var(--midRed);
		border: 3px solid var(--midRed);
		font-size: 2.5rem;
	}
}
.donate-button {
	background-color: unset;
	border: 3px solid var(--secondaryColor);
	&:hover {
		font-size: 2.5rem;
		border-color: var(--midRed);
	}
}

#menu {
	--menuWidth: calc(100vw - 64px);
	display: flex;
	position: fixed;
	right: 0;
	top: 0;
	width: var(--menuWidth);
	height: 100vh;
	flex-direction: column;
	background-color: var(--mainColor);
	z-index: 6;
	transform: translateX(100%);
	transition: 300ms transform;
	&.open {
		transform: translateX(0%);
	}
	@include desktop {
		display: flex;
		transform: translateX(0%);
		flex-direction: row;
		height: revert;
		background: transparent;
	}
	a {
		width: var(--menuWidth);
	}
}

@media screen and (max-width: 600px) {
	.logo {
		margin-top: 1.5rem;
	}
}

.hidden {
	display: none;
}
