<nav data-controller="example">
  <a href="#registration-form">הצטרפות</a>
  <a href="#demonstrations">הפגנות</a>
  <a href="#partners">שותפים</a>
  <a href="#on-crisis">על המשבר</a>
  <a href="#demands">דרישות</a>
  <a class='logo-link' href="/">
  <img class='logo' src='../images/logo.png' />
  </a>
</nav>
