<nav data-controller="example">
  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="menu-button" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>
  <a href="#registration-form">הצטרפות</a>
  <a href="#demonstrations">הפגנות</a>
  <a href="#partners">שותפים</a>
  <a href="#on-crisis">על המשבר</a>
  <a href="#demands">דרישות</a>
  <a class='logo-link' href="/">
  <img class='logo' src='../images/logo.png' />
  </a>
</nav>
